doctype html
html
	head
		title Tasks Dashboard
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='https://rawgit.com/keen/dashboards/gh-pages/assets/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='https://rawgit.com/keen/dashboards/gh-pages/assets/css/keen-dashboards.css')
		!= LRScript

		style().
			.tab-content{
				background-color:#fff;
				padding: 5px 10px;
				border: 1px solid #ddd;
				border-top: none;
				min-height: 250px;
			}
			.nav-tabs > li > a{
				border: medium none;
			}
			table {
				display: block;
				overflow: scroll;
			}

			.column.description {
				width: 100%;
			}
	body(class='application')
		div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
			div(class='container-fluid')
				div(class='navbar-header')
					a(class='navbar-brand', href='javascript:void()') Task Dashboard

		div(class='container-fluid')
			div(class='row')
				div(class='col-sm-7')
					div(id='task-tabs')
						ul(class='nav nav-tabs')
							- var count = 0
							each channel, i in channels
								li(class='' + (!count++ ? 'active' : ''))
									a(href='#' + i, data-toggle='tab')= channel.id

						div(class='tab-content')
							- var count = 0
							each channel, i in channels
								div(class='tab-pane ' + (!count++ ? 'active' : ''), id=i)
									table(class='table table-hover')
										thead
											tr
												each column in columns
													th(class='column ' + column)= column
										tbody
											each task in channel.tasks
												tr
													each column in columns
														td= task[column]
				div(class='col-sm-5')
					div(class='chart-wrapper')
						div(class='chart-title') New Tasks by Channel
						div(class='chart-stage'): div(id='chart-01')

			br
			
			p(class='small text-muted') Built with &#9829; by #[a(href='https://keen.io') Keen IO]


		script(type='text/javascript', src='https://rawgit.com/keen/dashboards/gh-pages/assets/lib/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='https://rawgit.com/keen/dashboards/gh-pages/assets/lib/bootstrap/dist/js/bootstrap.min.js')
		
		script(type='text/javascript', src='https://rawgit.com/keen/dashboards/gh-pages/assets/lib/holderjs/holder.js')
		script().
			Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });

		script(type='text/javascript', src='https://rawgit.com/keen/dashboards/gh-pages/assets/lib/keen-js/dist/keen.min.js')
		script().
			$('#task-tabs a').click(function (e) {
				e.preventDefault()
				$(this).tab('show')
			});

			var client = new Keen({
				projectId: '#{KEEN_ID}',
				readKey: '#{KEEN_READ}'
			});

			Keen.ready(function(){
				var query = new Keen.Query("count", {
					eventCollection: "creates",
					groupBy: [
						"channel"
					],
					interval: "daily",
					timeframe: "this_1_months",
					timezone: "UTC"
				});
				
				client.draw(query, document.getElementById("chart-01"), {
					chartType: "areachart",
					title: false,
					height: 250,
					width: "auto",
					chartOptions: {
			      chartArea: {
			        height: "85%",
			        left: "5%",
			        top: "5%",
			        width: "100%"
			      },
			      isStacked: true
			    }
				});
			});